:root {
    --background-color: #243447;
    --dark-navy: #1E2835;
    --navy: #657A8C;
    --medium-navy: #8FA4BF;
    --light-navy: #B4C4D9;
    --lightest-navy: #D5E2F2;
    --green: #C8FFA1;
    --greenHover: #90bc70;
    --navy-opactiy: rgba(54, 72, 89, 0.54);
}