h1, 
h2, 
h3 {
    line-height: 1.1;
}

h1 {
    font-size: var(--fz-lg-heading);
    font-family: "OpenSans-Bold", sans-serif;
    color: var(--medium-navy);
}

h2 {
    font-size: var(--fz-xxl);
    color: var(--green);
}

h3 {
    font-size: var(--fz-lg);
}

p {
    margin: 0 20px 40px;
    font-size: var(--fz-md);
    color: var(--light-navy)
}