@use "../util" as m;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.board {
    &__wrapper {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 4px;

        @include m.lg {
            height: auto;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }
    }

    &__tile {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
  
        cursor: pointer;
        background-color: var(--dark-navy);
        border-radius: 6px;
        color: var(--green);
        border: 1px solid var(--light-navy); 

        @include m.lg {
            padding: 40px;
        }

        &__emptyTile {
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    &__instructions {
        margin: 0 20px 40px;
        width: 90%;

        @include m.lg {
            width: 40%;
        }
    }
}

.btn {
    padding: 15px 35px;
    color: var(--green);
    font-size: var(--fz-md);
    border-radius: 6px;
    border: none;
    background-color: var(--dark-navy);
    box-shadow: 0px 0px 2px var(--green);
    cursor: pointer;
    margin: 0 10px 40px;

    &.win {
        color: var(--medium-navy);
        background-color: var(--dark-navy);
        box-shadow: 0px 0px 2px var(--medium-navy);

        &:hover {
            background-color: var(--navy-opactiy);
            box-shadow: 0px 0px 2px var(--greenHover);
            color: var(--greenHover);
        }
    }

    &:hover {
        background-color: var(--navy-opactiy);
        box-shadow: 0px 0px 2px var(--greenHover);
        color: var(--greenHover);
    }
}

.btn-section {
    margin-top: 40px;
}
